<component name="ArtifactManager">
  <artifact type="war" name="springmvc_exception:war">
    <output-path>$PROJECT_DIR$/springmvc_exception/target</output-path>
    <root id="archive" name="springmvc_exception-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_exception:war exploded" />
    </root>
  </artifact>
</component>