<component name="ArtifactManager">
  <artifact type="war" name="springmvc_request:war">
    <output-path>$PROJECT_DIR$/springmvc_request/target</output-path>
    <root id="archive" name="springmvc_request-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_request:war exploded" />
    </root>
  </artifact>
</component>