<component name="ArtifactManager">
  <artifact type="war" name="spring_base_config:war">
    <output-path>$PROJECT_DIR$/springmvc_base_config/target</output-path>
    <root id="archive" name="spring_base_config-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_base_config:war exploded" />
    </root>
  </artifact>
</component>