<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用v-for遍历</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>
    <div id="app">
        <!--城市列表-->
        <ul>
            <!--
                使用v-for绑定数组内容
            -->
            <li v-for="(cityName,inde) in cityList" :id="inde" v-html="cityName"></li>
        </ul>

        <table border="1" cellspacing="0" align="center" width="500">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>地址</th>
            </tr>

            <tr v-for="(linkman,inde) in linkmanList">
                <td v-html="inde+2"></td>
                <td v-html="linkman.name"></td>
                <td v-html="linkman.age"></td>
                <td v-html="linkman.address"></td>
            </tr>
        </table>
    </div>
<script>
    var vue = new Vue({
       el:"#app",
       data:{
           cityList:["北京","上海","深圳","广州","长沙"],
           linkmanList:[
               {
                   name:"张三",
                   age:18,
                   address:"深圳"
               },
               {
                   name:"李四",
                   age:28,
                   address:"广州"
               },
               {
                   name:"王五",
                   age:18,
                   address:"惠州"
               }
           ]
       }
    });
</script>
</body>
</html>